html {
    height: 100vh;
}

body {
    margin: 8px;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;

}

.reelchart_label {
    font-family: 'Hack', monospace;
    font-weight: bold;
    position: relative;
    font-size: 12px;
}

.reelchart_group {
    display: inline-block;
    position: relative;
}

input, select, div, li, ul, p {
    font-family: 'Hack', monospace;
}

